{% load i18n sizeformat %}

<div class="detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ fleet.name }}</dd>

    <dt>{% trans "ID" %}</dt>
    <dd>{{ fleet.uuid }}</dd>

    <dt>{% trans "Description" %}</dt>
    <dd>{{ fleet.description }}</dd>
  </dl>

  <h4>{% trans "Boards" %}</h4>
  <hr class="header_rule">
  {% if boards %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>{% trans "Board Name" %}</th>
          <th>{% trans "UUID" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
        <tr>
          <td>{{ board.name }}</td>
          <td>{{ board.uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>--</p>
  {% endif %}

  <h4>{% trans "Injected Plugins" %}</h4>
  <hr class="header_rule">
  {% if plugins %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>{% trans "Plugin Name" %}</th>
          <th>{% trans "UUID" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for plugin in plugins %}
        <tr>
          <td>{{ plugin.name }}</td>
          <td>{{ plugin.uuid }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "No plugins injected on this fleet." %}</p>
  {% endif %}
</div>

